.container-fluid{
    padding-bottom: 50px;
    color:salmon;
}
img{
    height: 50px;
    width: 50px;
}

.container{
    background-color: black;
    color: salmon;
    margin-top: 50px;
    padding: 50px;
    line-height: 50px;
}
.container a{
    color: white;
}
h1{
    text-align: center;
    padding: 20px;
}
address{
    font-size: 35px;
}
.container:hover{
    background-color: black;
    color: salmon;
    border: 10px solid salmon;
}
.back{
    color: salmon;
}
.back:hover{
    color: wheat;
}