.container-fluid{
    /* background-color: darkslategray; */
    padding-bottom: 50px;
    color:white;
}
img{
    height: 50px;
    width: 50px;
}
p{
    color: salmon;
}
.container{
    background-color: black;
    color: salmon;
    margin: 40px 0 80px 0;
    padding: 50px;
    line-height: 50px;
}
.container a{
    color: salmon;
}
h1{
    text-align: center;
    padding: 20px;
}
address{
    font-size: 30px;
}
.container:hover{
    /* background-color: black; */
    border: 10px solid salmon;
}
.container:hover a{
    color: salmon;
    font-style: italic;
}
.back{
    color: salmon;
}
.back:hover{
    color: wheat;
}