.col-sm-8{
    background-color: rgb(29, 29, 87);
}
img{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    float: left;
    border-radius: 100%;
    transition: 1s linear;
    opacity: 0.5;
}

.col-sm-8 h1{
    float:left;
    position: relative;
    top: 200px;
    left:100px;
    color: white;
    /* transition: 1s linear; */
}
.btnn{
    margin: 0px 0 0 100px;
    transform: translateY(-150%);
    border: none;
    width: 120px;
    background-color:cornflowerblue;
    transition: width 0.5s;
}
.btnn:hover, .btnn a, .btnn a:hover{
    color:white;
    width: 150px;
    text-decoration: none;
}
.mode{
    position: relative;
    text-align: center;
    top: 100px;
    color: white;
    border-radius: 50%;
}
.mode a{
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    text-decoration: none;
}
.mode a:hover{
    border-radius: 50%;
    color: white;
    text-decoration:none;
}
#follow{
    text-align: center;
    margin: 500px 0 0 -70px;
    position: relative;
    color: white;
}
#follow i{
    color: white;
    margin-left: 20px;
}
#follow a:hover{
    color: tomato;
}
.col-sm-4{
    background-color: cornflowerblue;
    height: 100vh;
}
.col-sm-4 ul li{
    list-style: none;
    color: white;
    padding: 40px;
    font-family: cursive;
    font-size: 30px;
}
.col-sm-4 ul li a{
    color: white;
    transition: font-size 0.2s,transform 0.5s;
} 
ul li a:hover{
    font-size: 35px;
    text-decoration: none;
}
.col-sm-4 ul li:hover a{
    transform: rotateX(50deg);
}
.details div{
    padding: 50px;
    top: 50%;
    margin-bottom: 150px;
    font-size: 30px;
}
.foo{
    background-color: black;
}