body{
    margin: auto;
    padding: auto;
    background-color: black;
}

.watsap{
    bottom: 30px;
    left: 30px;
    position: fixed;
    z-index: 10;
}
.watsap i{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 20px black;
}
.watsap i:hover{
    opacity: 0.7;
}


#back-img{
    height: 200px;
    width: 200px;
    position: fixed;
    display: block;
    margin: 20%;
}
.main{
    display: block;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(2, 78, 78, 0.3);
    height: 400px;
    max-width: 70%;
    border-radius: 5px;
    box-shadow: 5px 5px 20px black;
    z-index: 2;
    position: relative;
    transition: background-color 1s;
}
.main:hover{
    background-color:  rgb(3, 61, 61);
}
.main img{
    float: left;
    height: 150px;
    width: 150px;
    margin: 5% 0 0 10%;
}
.main #myname{
    padding-top: 50px;
    display: block;
    margin: auto;
    transform: translateX(10%);
}
.main #myname p{
    letter-spacing: 5px;
    left: 200px;
    font-size: 40px;
    font-weight: 200;
    color: seashell;
}
.main #myname span{
    font-weight: 500;
}

/* ----------------------------------- */

.media{
    display: block;
    font-size: 20px;
    z-index: 0;
    margin-top: 10px;
    max-width: 300px;
    position: relative;
    /* background-color: darkviolet; */
}
.media a, .media i{
    color: rgb(204, 226, 226);
    padding: 5px;
    transition: transform .5s;
}
.media i:hover{
    transform: scale(1.5);
}

/* ----------------------------------- */

.menu-toggler{
    float: right;
    display:none;
    margin-right: 5%;
}
.menu-toggler i{
    font-size: 30px;
    position: fixed;
    right: 40px;
}

.nav{
    list-style: none;
    display: inline-flex;
    float: right;
    position: fixed;
    right: 0;
    width: auto;
    margin-top: 0px;
    z-index: 5;
    
}
.nav li a{
    font-size: 13px;
    /* padding: 5px; */
    color: rgb(209, 228, 228);
    text-decoration: none;
}
.nav li{
    text-align: center;
    width: 80px;
    transition: .1s;
    margin: 0 10px;
    border-radius: 8px;
}
.nav li:hover{
    transform: scale(1.1);
    color: darkgreen;
    box-shadow: 1px 1px 4px white;
    /* border: 1px solid white; */
}
.nav .conn{
    background-color: rgb(0, 100, 0);
    color: white;
}
.nav .conn a{
    color: white;
}
.nav .conn:hover{
    box-shadow: none;
}

.stick{
    transition: 0.5s;
}
.stick{
    justify-content: center;
    background-color: white;
    padding: 10px;
    min-width: 100%;
    height: 50px;
    text-align: center;
    top: 0;
    padding-bottom: 10px;
}
.stick li a{
    color: darkgreen;
    font-size: 15px;
    font-weight: 450;
}
.stick li{
    width: 100px;
    padding-top:8px;
    border-radius: 5px;
}
.stick li:hover{
    transform: scale(1.1);
    color: darkgreen;
    box-shadow: 1px 1px 5px darkgreen;
    border: 1px solid white;
}
.stick .conn li{
    background-color: white;
    border-radius: 0px;
}
.stick .conn li a{
    /* background-color: white; */
    color: darkgreen;
}

/* ------------------------------------------------ */

.main-me{
    max-width: 100%;
    background-color: rgb(12, 145, 83);
    padding: 10% 10% 0 10%;
    margin: -4% auto;
}

#aboutme, #education, #career, #skills{
    background-color: white;
    min-height: 100px;
    max-width: 100%;
    display: block;
    margin:7% auto auto auto;
    border-radius: 10px;
    text-align: center;
    padding: 50px 100px;
    color: darkgreen;
    z-index: 0;
    transition: 0.3s;
    position: relative;
    text-align: justify;
}
#aboutme:hover,#education:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 10px black;
    background-color:  rgb(12, 145, 83);
    color: white;
    border-top: 1px solid white;
}
#career:hover, #skills:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 10px black;
    background-color:  rgb(12, 145, 83);
    color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
#skills td,th{
    padding: 20px;
}
#education a{
    color: wheat;
}

#projects{
    max-width: 100%;
    display: block;
    margin: 100px auto;
}
#projects .col-sm-6{
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
}

#projects .col-sm-6 p,#projects .col-sm-6 a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
#projects .col-sm-6 span{
    font-weight: 500;
}
/* ------------------------------------- */

#projects .a:hover img{
    /* box-shadow: 5px 5px 10px black; */
    transform: scale(1.05);
}
#projects .b:hover img{
    transform: scale(1.1);
}
/* ------------------------------------- */
.pro-name{
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 35px 20px;
    max-width: 100%;
    min-height: 350px;
    max-height: 350px;
}
.pro-name img{
    display: block;
    margin: auto;
    transition: 0.5s;
    max-height: 300px;
    max-width: 100%;
    border-radius: 10px;
}


#contact{
    padding-left:20%;
    max-width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 200px;
    padding: 50px;
    border: 5px solid white;
    border-radius: 2px;
    color: white;
    /* box-shadow: 5px 5px 5px black; */
    text-align: center;
    margin-bottom: 100px;
}
#contact i{
    
    padding: 20px;
}


/* ------------------------------------------------------------------- */
@media screen and (max-width : 700px) and (min-width:100px)
{
    .bar{
        display: block;
        top: 10px;
        z-index: 7;
        position: relative;
    }
    .menu-toggler i:nth-child(1){
        font-size: 35px;
    }
    .menu-toggler i:nth-child(1),.menu-toggler i:nth-child(2){
        right: 20px;
    }
    .menu-toggler i:nth-child(2),.menu-toggler.active i:nth-child(1){
        opacity: 0;
    }
    .menu-toggler.active i:nth-child(2),.menu-toggler i:nth-child(1){
        opacity: 1;
    }

    .watsap i{
        position: fixed;
        font-size: 45px;
        color: rgb(52, 189, 52);
        left: 10px;
    }

    .nav{
        display: block;
        z-index: 6;
        background-color: black;
        right: -100%;
        width: 100%;
        height: 100vh;
        color: white;
        top: 0;
        transition: .5s;
    }
    .nav.active{
        right: 0;
    }
    .nav li{
        width: 100%;
        color: oldlace;
        text-align: center;
        border-bottom: 1px solid white;
        letter-spacing: 4px;
        background-color: black;
        padding: 8px;
        z-index: 10;
    }
    .nav li a{
        color: white;
        font-size: 20px;
    }
    .nav li a:hover{
        transition: none;
        transform: none;
        box-shadow: none;
    }
    .nav li:hover{
        background-color: green;
        transform: scale(1);
    }
    .stick{
    transition: none;
}
.stick{
    justify-content: none;
    background-color: white;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 100vh;
    transition: .5s;
}
.stick li a{
    font-size: 15px;
    font-weight: 450;
}
.nav .abb{
    margin-top: 100px;
    border-top: 1px solid white;
}
.nav .conn{
    background: none;
    font-weight: 300;
}

    /* ---------------------------------- */

    .main{
        display: block;
        margin: auto;
        margin-top: 80px;
        background-color: rgb(2, 78, 78);
        max-height: 200px;
        max-width: 80%;
        border-radius: 5px;
        box-shadow: 5px 5px 20px black;
        z-index: 2;
        position: relative;
        transition: background-color 1s;
    }
    .main img{
        float: left;
        height: 80px;
        width: 80px;
        margin: 5% 0 0 5%;
        position: relative;
    }
    .main #myname{
        /* float: left; */
        position: relative;
        transform: translateY(-10%);
        left: 10px;
    }
    .main #myname p{
        letter-spacing: 0px;
        font-size: 12px;
        color: seashell;
    }

    /* ----------------------------------- */

    .media{
        font-size: 12px;
        max-width: 200px;
    }

/* ----------------------------------- */

.menu-toggler i{
    font-size: 30px;
    color: rgb(74, 209, 74);
    text-shadow: 2px 2px 5px black;
}

/* -------------------------------------- */

.main-me{
    max-width: 100%;
    padding: 10px;
    padding-right: 15px;
}

#aboutme, #education, #career, #skills{
    background-color: white;
    min-height: 100px;
    max-width: 100%;
    display: block;
    margin: 50px 0px 0px 10px;
    border-radius: 10px;
    text-align: justify;
    padding: 15px 15px;
    color: darkgreen;
    font-size: 13px;
}
#aboutme:hover,#education:hover{
    transform: none;
    box-shadow: none;
    background-color: white;
    color: darkgreen;
    border-top: none;
}
#career:hover, #skills:hover{
    transform: none;
    box-shadow: none;
    background-color:  white;
    color: darkgreen;
    border: none;
}

.main-me h1{
    font-size: 18px;
}
#education a{
    color: darkgreen;
}

#projects .col-sm-6{
    padding: auto;
    text-align: center;
    /* position: relative;   */
}
#projects img{
    transition: none;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    /* position: relative; */
}
#projects .col-sm-6 p,#projects .col-sm-6 a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.pro-name{
    margin: 0;
    border-radius: 5px;
    background-color:black;
    padding: auto;
    position: relative;
    min-height: 250px;
}
.pro-name img{
    height: 300px;
    max-width: 100%;
}
#projects h3{
    text-align: center;
    font-size: 20px;
}


#contact{
    padding-left:20%;
    max-width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 200px;
    padding: 50px;
    /* border: 5px solid white; */
    border-radius: 2px;
    color: white;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    margin-bottom: 100px;
}
#contact h3{
    font-size: 16px;
}
#contact i{
    font-size: 10px;
    padding: 10px;
}

}
